<p class="border-top m-50"> <strong><%= @question %></strong></p>
<p> - You</p>
<p class="border-top"> <strong><%= @answer %></strong></p>
<p class="border-bottom"> - Your coach</p>

<%=link_to "Ask another question", ask_path, class:"link" %>
