
<form action="/answer" method="get" data-turbo="false"  class="d-flex justify-content-evenly">
  <input type="text" name="question" value="<%=params[:question]%>" class="rounded m-10 p-15" placeholder="Ask your question">
  <input type="submit" value="Ask!"  class="btn btn-lg btn-primary active">
</form>
